
@using dcboe.Components.Widgets.NewsWidget;
@addTagHelper *, Kentico.Content.Web.Mvc
@using Microsoft.AspNetCore.Http.Extensions

@model IEnumerable<NewsWidgetViewModel>
<div class="container py-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="article">
                @foreach (NewsWidgetViewModel item in Model)
                {
                    <div class="searchFilter">

                        @if(item.ShowSearch)
                        {
                        <form method="get" name="searchForm" id="searchForm">
                            <span class="FilterSearch">
                                <input type="text" name="q" id="q" value=" @Context.Request.Query["q"]" class="class-tabindex form-control" />
                                <input type="submit" value="Search" class="class-btn-tabindex btn btn-default" />
                            </span>
                        </form>
                        }
                        
                    </div>
                    break;
                }

                    @{ int i = 0; }

                    @foreach (NewsWidgetViewModel item in Model)
                    {
                        <div class="newsItem" id="readspeaker-content">
                            <span class="ISI_MESSAGE"></span>
                            <h6>@item.NewsReleaseDate</h6>
                            <a role="link" href=@item.NewsTeaser target="_blank">@item.NewsTitle </a>

                            <hr>
                        </div>

                        i++;
                   

                    }

            <div class="pagination">

                @foreach (NewsWidgetViewModel item in Model)

                {
                    if (item.ShowButton)
                    {
                        <a href="@Context.Request.GetEncodedUrl()" role="button" title="View All News" class="btn btn--default">View all News</a>
                    }
                    @if (item.ShowPagination)
                    {
                        string myPage = "";

                        if (item.ShowPrevious)
                        {
                            myPage = "?page=" + (int)(item.currentPage - 1);
                            if (Context.Request.Query["q"].Count > 0)
                            {
                                myPage += "&q=" + @Context.Request.Query["q"];
                            }
                            <a class="page-numbers" href="@myPage">Prev</a>

                        }
                        @foreach (int pageNumber in item.pagination)
                        {
                            myPage = "?page=" + @pageNumber;
                            if (Context.Request.Query["q"].Count > 0)
                            {
                                myPage += "&q=" + @Context.Request.Query["q"];
                            }
                            string className = "";
                            if (pageNumber == item.currentPage)
                            {
                                className = "current";
                            }

                            <a class="page-numbers @className" href="@myPage">@pageNumber</a>

                        }
                        if (item.ShowNext)
                        {
                            myPage = "?page=" + (int)(item.currentPage + 1);
                            if (Context.Request.Query["q"].Count > 0)
                            {
                                myPage += "&q=" + @Context.Request.Query["q"];
                            }
                            <a class="page-numbers" href="@myPage">Next</a>
                        }
                    }
                    break;
                }

            </div>

                </div>
        </div>
    </div>
</div>
