
@using dcboe.Components.Widgets.NewsWidget;
@addTagHelper *, Kentico.Content.Web.Mvc
@using Microsoft.AspNetCore.Http.Extensions

@model IEnumerable<NewsWidgetViewModel>
<div class="container py-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="article">
                <h2>Search</h2>
                <form method="get" name="searchForm" id="searchForm">
                    <p>
                        <input type="text" name="q" id="q" value="" />
                        <input type="submit" value="Search" />
                    </p>
                </form>

                @{ int i = 0; }

                @foreach (NewsWidgetViewModel item in Model)
                {
                    <div class="newsItem" id="readspeaker-content">
                        <span class="ISI_MESSAGE"></span>
                        <h6>@item.NewsReleaseDate</h6>
                        <a role="link" href=@item.NewsTeaser target="_blank">@item.NewsTitle </a>

                        <hr>
                    </div>

                    i++;

                }
            <div class="pagination">
                @foreach (NewsWidgetViewModel item in Model)
                {
                    @foreach (int pageNumber in item.pagination)
                    {
                        string myPage = "?page=" + @pageNumber;
                        if (Context.Request.Query["q"].Count > 0)
                        {
                            myPage += "&q=" + @Context.Request.Query["q"];
                        }

                        string className = "";
                        if (pageNumber == item.currentPage)
                        {
                            className = "current";
                        }
                        <a class="page-numbers @className" href="@myPage">@pageNumber</a>
                    }
                    break;
                }

            </div>
            </div>
        </div>
    </div>
</div>
